# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson
".source.php"  :
    'namespace':
        'prefix': 'ns'
        'body': 'namespace $1;'

    "public static function"    :
        "prefix"    : "psf"
        "body"      : "public static function $1($2)\n{\n$3\n}"

    "protected static function"    :
        "prefix"    : "prsf"
        "body"      : "protected static function $1($2)\n{\n$3\n}"

    "static protected member property"  :
        "prefix"    : "prsp"
        "body"      : "protected static $$1;"

    "public member function"            :
        "prefix"    : "pf"
        "body"      : "public function $1($2)\n{\n$3\n}"

    "private member function"           :
        "prefix"    : "prif"
        "body"      : "private function $1($2)\n{\n$3\n}"

    "protected member function"         :
        "prefix"    : "@prf"
        "body"      : "protected function $1($2)\n{\n$3\n}"

".source.ts"   :
    "reference"     :
        "prefix"        : "/r"
        "body"          : "/// <reference path=\"$1\" />"

".source.js"   :
    "require"       :
        "prefix"        : "rq"
        "body"          : "require(\"$1\")"

".source.coffee"   :
    # for snippets.cson
    "snipetts-define"   :
        "prefix"            : "-def"
        "body"              : "\"$1\"\t:\n\t\"prefix\"\t:\"$2\"\n\t\"body\"\t:\"$3\"\n"

    # for CoffeeScript
    "doc"           :
        "prefix"        : "#*"
        "body"          : "###*\n# $1\n###"

    "return"        :
        "prefix"        : "ret"
        "body"          : "return "

    "module.exports":
        "prefix"        : "mx"
        "body"          : "module.exports = "

    "require"       :
        "prefix"        : "rq"
        "body"          : "require \"$1\""

    "import require"    :
        "prefix"            : "req"
        "body"              : "$1\t\t= require \"$2\""

    "console log"       :
        "prefix"            : "csl"
        "body"              : "console.log $1"

    "console info"      :
        "prefix"            : "csi"
        "body"              : "console.info $1"

    "console trace"     :
        "prefix"            : "cst"
        "body"              : "console.trace${1:($2)}"

    "console log arguments" :
        "prefix"            : "csla"
        "body"              : "console.log ${1:, }arguments"

    "instanceof"    :
        "prefix"            : "iof"
        "body"              : "$1 instanceof $2"

    "args"          :
        "prefix"            : "ags"
        "body"              : "arguments"
